@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* FONT LINK */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Montserrat', sans-serif;
}
a, a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* Index Page ----------------------------*/

/* header Part Start */
.index_slider_part {
	background: url(../img/home_page/bnr_4.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.index_slider_part .slider_overlay {
	background: rgba(0,0,0,0.3);
	padding: 100px 0;
}
.index_slider_con h1 {
	font-size: 56px;
	color: #fff;
	font-weight: 700;
	padding-top: 30px;
}
.index_slider_con p {
	font-size: 20px;
	color: rgba(255,255,255,.9);
	padding: 30px 0;
}
.index_slider_btn {
	height: 55px;
	width: 180px;
	background: #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 30px;
}
.index_slider_btn a {
	color: #fff;
}
/* header Part End */

/* About Part Start */
.index_about_part {
	overflow-x: hidden;
}
.about_con_img {
	position: relative;
	overflow: hidden;
}
.about_con_img img {
	transition: 0.4s ease;
}
.about_con_img:hover img {
	transform: scale(1.1);
}
.about_con_img:hover .img_overlay {
	background: rgba(0,0,0,0.7);
}
.about_con_img .img_overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 15px;
	background: rgba(0,0,0,0.4);
	transition: 0.4s ease;
}
.about_con_img .img_overlay h3 {
	font-size: 32px;
	color: #fff;
	font-weight: 700;
}
.about_con_img .img_overlay p {
	font-size: 18px;
	color: #fff;
	padding: 15px 0;
}
.img_overlay .con .about_btn {
	height: 45px;
	width: 120px;
	background: #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: 0.3s;
}
.img_overlay .con .about_btn:hover {
	background: #fff;
	cursor: pointer;
}
.img_overlay .con .about_btn:hover a {
	color: #166994;
}
.img_overlay .con .about_btn a {
	font-size: 16px;
	color: #fff;
}
/* About Part End */

/* Blog Part Start */
.index_blog_part {
	overflow-x: hidden;
	padding: 30px 0;
}
.index_blog_con_img {
	position: relative;
	overflow: hidden;
}
.index_blog_con_img_overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
	padding: 15px;
	opacity: 0;
	transition: 0.3s;
}
.index_blog_con_img_overlay h5 a {
	font-size: 26px;
	color: #fff;
	font-weight: 700;
}
.index_blog_con_img_overlay p {
	font-size: 16px;
	color: rgba(255,255,255,0.8);
}
.index_blog_con_img:hover .index_blog_con_img_overlay {
	opacity: 1;
}
.index_blog_con_img img {
	transition: 0.3s;
}
.index_blog_con_img:hover img {
	transform: scale(1.2);
}
/* Blog Part End */

/* Index Page ----------------------------*/









/* Header Part Start */
.slider_part {
	overflow-x: hidden;
	background: url(../img/bnr_1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.slider_overlay {
	background: rgba(0,0,0,0.3);
}
.slider_con_main {
	padding: 150px 0 100px;
}
.slider_btn {
	width: 180px;
	height: 55px;
	background: #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.slider_con h1 {
	padding: 0 0 20px;
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}
.slider_btn a {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}
.navbar {
	padding: 25px 0;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
	font-size: 36px;
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
}
#navpart {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    z-index: 9999;
}
.nav_toggle {
	width: 20px;
	height: 2px;
	background: #fff;
	margin: 5px 0;
}
.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,1);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
	font-size: 18px;
}
.navbar-light .navbar-nav .active>.nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus {
	color: #000;
}
/* Header Part End */


/* Blog Part Start */
.blog_part {
	overflow-x: hidden;
}
.blog_img {
	position: relative;
	overflow: hidden;
	transition: .4s ease;
}
.blog_img img {
	transition: 0.3s ease;
}
.blog_img:hover img {
	transform: scale(1.1);
}
.blog_img:hover .blog_img_overlay_con_2 .con p,
.blog_img:hover .blog_img_overlay_con_2 .con h4{
	text-decoration: underline;
}
.blog_img_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.blog_img_overlay_con {
	width: 335px;
	height: 120px;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.blog_img_overlay_con p {
	font-size: 16px;
	color: #878787;
}
.blog_img_overlay_con h4 {
	font-size: 26px;
	color: #1e1e1e;
	font-weight: 700;
	padding-top: 5px;
}
.blog_img_overlay_con_2 {
	padding:0 20px 20px;
}
.blog_img_overlay.b_2 {
	-ms-align-items: flex-end;
	align-items: flex-end;
	background: rgba(0,0,0,0.2);
}
.blog_img_overlay_con_2 .con p {
	font-size: 16px;
	color: #fff;
}
.blog_img_overlay_con_2 .con h4 {
	font-size: 26px;
	color: #fff;
	font-weight: 700;
}
/* Blog Part End */

/* Contact Part Start */
.contact_part {
	padding: 75px 0 20px;
	background: #211e1e;
}
.contact_con_main h5 {
	font-size: 16px;
	color: #fff;
	padding-bottom: 15px;
}
.contact_con_main p a,
.contact_con_main p {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	padding: 5px 0;
}
.contact_con i {
	color: #166994;
	padding-top: 10px; 
}
.contact_form input {
	height: 50px;
	width: 100%;
	border: none;
	border-radius: 2px;
	padding-left: 10px;
	background: #2C2C2C;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255,255,255,0.5);
	letter-spacing: 1px;
}
.contact_btn {
	height: 40px;
	width: 145px;
	border: 1px solid #166994;
	border-radius: 2px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
	transition: 0.3s;
}
.contact_btn:hover {
	background: #166994;
	cursor: pointer;
}
.contact_btn a {
	font-size: 14px;
	color: rgba(255,255,255,.5);
}
.contact_btn:hover a {
	color: #fff;
}
.contact_con_main .shape {
	width: 100%;
	height: 1px;
	background: rgba(255,255,255,.3);
	margin-top: 30px;
}
/* Contact Part End */

/* Footer Part Start */
.footer_part {
	background: #211e1e;
	padding: 15px 0;
}
.footer_con p {
	line-height: 30px;
}
.footer_con p a {
	color: #166994;
}
/* Footer Part End */


/* Blog Info Page Start-------------------- */

/* Slider Part Start */
.blog_info_slider_part {
	background: url(../img/bnr_2.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 150px 0;
}
/* Slider Part End */

/* Blog Info Part Start */
.blog_info_slider_part .slider_head h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}
.blog_info {
	padding: 75px 0;
}
.blog_info_img_main .img {
	position: relative;
}
.sticker {
	height: 25px;
	width: 100px;
	background: #F2F1EA;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-25%, 60%);
}
.sticker p a {
	color: #878787;
} 
.blog_info_con .time p a{
	font-size: 16px;
	color: #878787;
	padding: 10px 0 5px 10px;
	display: inline-block;
}
.blog_info_con h3 {
	font-size: 50px;
	color: #1e1e1e;
	font-weight: 700;
	padding: 10px 0;
}
.blog_info_con p {
	font-size: 16px;
	color: #878787;
	padding-bottom: 10px;
}
.blog_info_con .quote {
	font-size: 33px;
	color: #166994;
	font-weight: 700;
	padding: 15px 0;
}
.another_blog {
	width: 100%;
	height: 180px;
	background: #F2F1EA;
}
.another_blog .side_blog {
	padding-top: 30px;
}
.another_blog_con {
	padding-top: 40px;
}
.another_blog_con h4,
.side_blog_con h4 {
	font-size: 30px;
	color: #1e1e1e;
	font-weight: 700;
}
.another_blog_con .head {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.comment_form h4 {
	font-size: 33px;
	color: #166994;
	font-weight: bold;
	padding: 15px 0;
}
.comment_form .comment {
	width: 100%;
	height: 145px;
	padding: 0 20px;
	margin-bottom: 30px;
}
.comment_form .name {
	width: 250px;
	height: 50px;
	padding-left: 20px;
}
.comment_btn {
	width: 135px;
	height: 55px;
	background: #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 30px;
}
.comment_btn a {
	font-size: 16px;
	color: #fff;
}
/* Side Blog */
.side_blog {
	width: 250px;
	height: 130px;
	background: #F2F1EA;
	padding:0 120px 0 30px;
}
.side_blog_img {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	transform: rotate(-15deg);
}
.side_blog_img .shape {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 60px;
	background: #166994;
	transform: rotate(15deg);
}
.side_blog_con p {
	font-size: 16px;
	color: #878787;
	padding: 15px 0;
}
.categories_part h4,
.instagram_post h4,
.newsletter_part h4,
.follow_part h4 {
	font-size: 24px;
	color: #1e1e1e;
	font-weight: 700;
	padding: 50px 0 20px;
}
.categories_part p a {
	font-size: 16px;
	color: #878787;
	padding-bottom: 5px;
	display: inline-block;
}
.newsletter_part input {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	margin-bottom: 15px;
}
.newsletter_part .news_btn {
	height: 55px;
	width: 155px;
	background: #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.newsletter_part .news_btn a {
	color: #fff;
}
/* Side Blog */

/* Comment Content Part */
.comment_part {
	padding: 75px 0 0;
}
.comment_part h4 {
	font-size: 28px;
	color: #1e1e1e;
	font-weight: bold;
	padding-bottom: 30px;
}
.comment_con_main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.comment_con .time span {
	font-size: 11px;
	color: #878787;
}
.comment_con h5 {
	font-size: 24px;
	color: #1e1e1e;
	font-weight: 700;
	padding: 10px 0;
}
.comment_con p {
	font-size: 14px;
	color: #878787;
}
.comment_replay_btn {
	width: 95px;
	height: 35px;
	border: 1px solid #166994;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border-radius: 30px;
	transition: 0.3s ease;
}
.comment_replay_btn:hover {
	background: #166994;
	cursor: pointer;
}
.comment_replay_btn:hover a {
	color: #fff;
}
.comment_replay_btn a {
	font-size: 14px;
	color: #1e1e1e;
}
/* Comment Content Part */

/* Blog Info Page End-------------------- */